---
import Footer from '../components/Footer.astro'
const { frontmatter } = Astro.props
---
<h1>{frontmatter.title}</h1>
<p>Escrito por:{frontmatter.author } en {frontmatter.pubDate}</p>
<slot/>
<Footer />